<ion-card>
  <ion-card-header text-center>
    <span class="weather-location">Houston</span>
  </ion-card-header>
  <ion-card-content class="weather-container" text-center>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="weather-icon" src="http://placehold.it/150x150">
        </ion-col>
        <ion-col>
          <div class="weather-temp">87&deg;</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="weather-desc">Haze</p>
  </ion-card-content>
</ion-card>